{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'users/styles.css' %}">
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
    </head>
    <body>
        <nav class="shadow-lg">
            <div class="px-4 mx-auto">
                <div class="flex justify-between">
                    <!--Website logo-->
                    <div>
                        <a class="flex" href="">
                            <img class="h-8 w-8"  src="{% static 'users/images/brotherhood.png' %}" alt="icon showing hand with heart">
                            <span class="font-semibold text-lg text-gray-500">Social App<span>
                        </a>
                    </div>
                    <!--Website items-->
                    <div class="space-x-1">
                        {% if request.user.is_authenticated %}
                        <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'login' %}">Login</a>
                        {% endif %}
                        <a class="py-4 px-2 text-gray-500 font-semibold" href="">Link 3</a>
                        <a class="py-4 px-2 text-gray-500 font-semibold" href="">Link 3</a>
                    </div>
                </div>
            </div>
        </nav>
        

        {% block body %}
    
        {% endblock %}
    </body>
    <div class="flex justify-center"
    <footer><p class=" text-sm"> 2024 &copy; RFrench ❁  Made in Austin, TX ❁  All Rights Reserved. </p>
    </footer></div>
</html>    